<div class="card" style="width: 18rem" *ngIf="hotel">
  <img [src]="imgUrl" class="card-img-top" alt="default" />
  <div class="card-body">
    <div class="card-first-content">
      <p class="card-text hotel-name">{{ hotel.name }}</p>
      <p class="hotel-stars">
        {{ hotel.stars }} <fa-icon [icon]="faStar"></fa-icon>
      </p>
    </div>
    <div class="card-second-content">
      <p class="hotel-city">
        <fa-icon [icon]="faLocationArrow"></fa-icon> {{ hotel.city.name }}
      </p>
      <p class="hotel-price">{{ hotel.price }}€</p>
    </div>
  </div>
</div>
