<nav class="navbar navbar-light bg-secondary">
  <div class="container-fluid">
    <ng-container *ngIf="citiesList">
      <a (click)="getAllHotels()" class="navbar-brand city-link">Toutes</a>
      <ng-container *ngFor="let city of citiesList">
        <a
          (click)="displayHotelsByCity(city.id, city.name)"
          class="navbar-brand city-link"
          >{{ city.name }}</a
        >
      </ng-container>
    </ng-container>

    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container cards-main-container">
  <div class="row cards-container mt-3">
    <ng-container *ngFor="let hotel of hotelsList">
      <app-card class="col" [hotel]="hotel"></app-card>
    </ng-container>
  </div>
</div>
