.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 4rem;
}

.details-container {
  width: 40%;
  height: 80vh;
  padding: 2rem;
  background-color: rgb(160, 160, 152);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.hotel-image {
  width: 80%;
}

.form-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row1,
.form-row2,
.form-row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
