.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(162, 220, 215, 0.7);
}

.container-header {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 4rem;
}

.details-container {
  width: 40%;
  height: fit-content;
  padding: 2rem;
  background-color: rgb(52, 116, 212);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.hotel-image {
  width: 80%;
}

.form-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-form-main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: rgba(162, 220, 215, 0.7);
  padding: 1rem;
  border-radius: 1rem;
}

.form-row1,
.form-row2,
.form-row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

label,
.city-name {
  font-weight: 500;
}

.user-hotel-name,
.user-hotel-city,
.user-hotel-disponibility,
.user-hotel-price,
.user-hotel-phone,
.user-hotel-stars {
  font-weight: 500;
  color: #000;
}

.user-hotel-stars-icon {
  color: gold;
}
