<div class="container">
  <div class="container-header">
    <fa-icon
      class="arrow-left"
      [icon]="faArrowLeft"
      size="2x"
      (click)="goHome()"
    ></fa-icon>
  </div>

  <!-- Section pour les utilisateurs normaux -->
  <div class="details-container" *ngIf="!isAdmin && hotel">
    <img class="hotel-image" src="assets/default.jpg" alt="" />
    <div class="form-group mt-3 user-form-main-container">
      <div>
        <div class="form-row1">
          <div class="form-group mt-3">
            <p class="user-hotel-name">{{ hotel.name }}</p>
          </div>
          <div class="form-group mt-3">
            <p class="user-hotel-city">
              <fa-icon [icon]="faLocationArrow"></fa-icon> {{ hotel.city.name }}
            </p>
          </div>
        </div>
        <div class="form-row2">
          <div class="form-group mt-3">
            <p class="user-hotel-disponibility">
              <fa-icon class="bed-icon" [icon]="faBed"></fa-icon> :
              {{ hotel.disponibility }}
            </p>
          </div>
          <div class="form-group mt-3">
            <p class="user-hotel-stars">
              {{ hotel.stars }}
              <fa-icon class="user-hotel-stars-icon" [icon]="faStar"></fa-icon>
            </p>
          </div>
        </div>
        <div class="form-row3">
          <div class="form-group mt-3">
            <p class="user-hotel-price">{{ hotel.price }}€ /week</p>
          </div>
          <div class="form-group mt-3">
            <p class="user-hotel-phone">
              <fa-icon [icon]="faPhone"></fa-icon> {{ hotel.phone }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section pour les administrateurs -->
  <div class="details-container" *ngIf="isAdmin">
    <img class="hotel-image" [src]="imgUrl" alt="" />
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm)"
      class="form-group mt-3 form-main-container"
    >
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
      />
      <input
        type="text"
        formControlName="name"
        placeholder="Name"
        class="form-control mt-3"
      />
      <select formControlName="city" class="form-control mt-3">
        <option *ngFor="let city of cities" [ngValue]="city">
          {{ city.name }}
        </option>
      </select>
      <input
        type="number"
        formControlName="disponibility"
        placeholder="Disponibility"
        class="form-control mt-3"
      />
      <input
        type="number"
        formControlName="stars"
        placeholder="Stars"
        class="form-control mt-3"
      />
      <input
        type="number"
        formControlName="price"
        placeholder="Price"
        class="form-control mt-3"
      />
      <input
        type="text"
        formControlName="phone"
        placeholder="Phone"
        class="form-control mt-3"
      />
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
