<div class="container">
  <div class="container-header">
    <fa-icon
      class="arrow-left"
      [icon]="faArrowLeft"
      size="2x"
      (click)="goHome()"
    ></fa-icon>
  </div>
  <div class="details-container" *ngIf="isAdmin">
    <img class="hotel-image" [src]="imgUrl" alt="" />
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm)"
      class="form-group mt-3 form-main-container"
    >
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
      />
      <div>
        <div class="bg-primary form-row1">
          <div class="form-group mt-3">
            <input formControlName="name" type="text" class="form-control" />
          </div>
          <div class="form-group mt-3">
            <select formControlName="city" class="form-control">
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="bg-success form-row2">
          <div class="form-group mt-3">
            <input
              formControlName="disponibility"
              type="number"
              class="form-control"
            />
          </div>
          <div class="form-group mt-3">
            <input formControlName="stars" type="number" class="form-control" />
          </div>
        </div>
        <div class="bg-danger form-row3">
          <div class="form-group mt-3">
            <input formControlName="price" type="number" class="form-control" />
          </div>
          <div class="form-group mt-3">
            <input formControlName="phone" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <button type="submit">Create Hotel</button>
    </form>
  </div>
</div>
