.main-container {
  padding-left: 5rem;
  padding-right: 5rem;
}
header {
  background-color: #3474d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navbar-container {
  background-color: red;
}

.connexion-btn,
.main-title {
  margin: 0;
  padding: 0;
}
.header-btn {
  background-color: #4c4c6c;
}
